<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

  

    <form action="/" method="POST" enctype="multipart/form-data">

        <label for="base_image_file"><h3>Upload Your Base Image File</h3></label>
        <br></br>
        <input type="file" name="base_image_file">
        <br></br>
        <button type="submit">Upload</button>

    </form>

    <form action="/" method="POST" enctype="multipart/form-data">

        <label for="style_image_file"><h3>Upload Your Style Image File </h3> </label>
        <br></br>
        <input type="file" name="style_image_file">
        <br></br>
        <button type="submit">Upload</button>

    </form>



</body>

</html>

